<div class="container">

        <form #form="ngForm" role="form" (submit)="onSubmit(form.value)">
         
      
          <legend>Angular Form (Template-Driven) using NgModelGroup</legend>
      
          <fieldset ngModelGroup="user_identification">
      
            <div class="form-group">
              <label for="first_name">First Name</label>        
              <input ngModel name="firstname" type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
      
            <div class="form-group">
              <label for="last_name">Last Name</label>        
              <input ngModel name="lastname" type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
          </fieldset>
      
      
          <fieldset ngModelGroup="user_address">
      
            <div class="form-group">
              <label for="street">Street</label>        
              <input ngModel name="street" type="text" class="form-control" id="street" placeholder="Street">
            </div>
      
            <div class="form-group">
              <label for="country">Country</label>        
              <input ngModel name="country" type="text" class="form-control" id="country" placeholder="Country">
            </div>
          </fieldset>    
      
          <button type="submit" class="btn btn-primary">Submit</button>
      
          <span>{{form.value | json}}</span>
        </form>
      
      </div>